@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap'); /*Para fonte Montserrat*/


/*Para o todo da página (cor...), e alinhamento dos textos*/
body{
    background-color: #E96479;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/*Para o h1, "acerte o número secreto"*/
h1{
    font-size: 90px;
}

/*Para o h2, texto de comemoração por acertar o número secreto*/
h2{
    font-size: 50px;
}

/*Para o h3, "o número secreto está entre 0 e 100"*/
h3{
    font-size: 40px;
    margin-top: 30px;
}

/*Para o "Você disse..."*/
.mensagem {
    font-size: 40px;
    margin-top: 40px;

}

/*Para a caixinha do número"*/
.box{
    border:2px solid #F5E9CF;
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

/*Para o botão de jogar novamente*/
.btn-jogar{
    padding: 8px 15px;
    border:2px solid #F5E9CF;
    background-color: #E96479;
    border-radius: 5px;
    margin-top: 50px;
    color: white;
    font-size: 40px;
}
